
@media(max-width:1000px){

    .perso-container{
        padding: 0px 100px;
    }

    .perso-contents{
        width:50%;
    }

}

@media(max-width:670px){

    .perso-container{
        padding: 0px 50px;
    }

    .perso-contents{
        width:100%;
    }

}
