
@media(max-width:1000px){

    .perso-container{
        padding: 0px 100px;
    }

    .perso-contents{
        width:50%;
    }

}

@media(max-width:670px){

    header{
        height: 30px;
    }

    .header-left a{
        line-height: 30px
    }

    .header-right a{
        line-height: 30px
    }

    .profile{font-size: 14px;}

    .perso-container{
        padding: 0px 50px;
        flex-direction: column;
    }
    .perso-contents{
        margin: 0 auto;
    }
    .btn{
        display: block;
        width:30%;
        margin:0px auto;
    }

    .btn a{
        width: 100%;
        font-size: 15px;
    }

    .btn-twi a{
        margin-bottom:5px;
    }
}
