
body {
    /* ↓margin:0はデフォで入ってたから入れた。なくしたら動いたから意味ありそう↓ */
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

/* ↓ ここの意図は正直不明 ↓ */
a{
    text-decoration: none;
}

header{
    height:50px;
    width:100%;
    background-color:rgba(23, 6, 70, 0.7);
    position:fixed;
    top:0px;
    z-index: 10;
}

.header-left{
    float: left;
    transition: all 0.5s;
}

.header-left a{
    line-height: 50px;
    padding: 0 25px;
    color:white;
    display: block;
    background-color :rgba(102, 140, 211, 0.7);
}

.header-left:hover{
    background-color :rgba(102, 140, 211, 1.0);
}

.header-right{
    float: right;
    margin-right:30px;
    transition: all 0.5s;
}

.header-right a {
    line-height: 50px;
    padding: 0 25px;
    color: white;
    display: block;
    background-color: rgba(102, 140, 211, 0.7);
}

.header-right:hover{
    background-color :rgba(102, 140, 211, 1.0);
}

.top-wrapper{
    padding-top: 120px ;
    padding-bottom: 20px ;
    background-image:url(/Users/kageyamaakira/Downloads/4CB58F36-39C8-401B-99B5-F3F5DC0B12F2.jpeg);
    background-size:cover;
}

.dog{
    width: 240px ;
    height: 240px ;
    border-radius: 120px ;
}

.container{
    width: 100% ;
    padding: 0 15px ;
    margin: 0 auto;
    text-align:center;
    color:white;
    opacity:0.9;
}

.container h1{
    letter-spacing: 5px ;
    height: 20px ;
}

.id {
    font-size: 14px;
}

.contact{
    text-align:center;
    padding:20px 50px;
}

.btn a{
    color:white;
}

.btn{
    border-radius: 24px;
    display: inline-block;
    padding: 10px 20px;
    width:80px;
}

.btn-twi{
    background-color: #3b5998;
    opacity:0.8;
    margin-right: 5px;
}

.btn-note{
    background-color: #239b76;
    opacity:0.8;
}
