.wrap {
  overflow: hidden;
}

body {
  padding-top: 50px;
}

.top h1,
.top p,
.top span {
  color: white;
}

.top img {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

.subtitle {
  text-align: center;
  font-size: 48px;
  font-style: italic;
  margin-bottom: 80px;
}

/* SNSアイコン用 */
.social-icons a i {
  font-size: 18px;
  width: 35px;
  height: 35px;
  background: rgba(28, 3, 167, 0.6);
  margin-right: 10px;
  /* display: block; */
  text-align: center;
  color: #ffffff;
  line-height: 35px;
  border-radius: 50%;
}

.prof-img {
  width: 100%;
  border-radius: 999px;
}

.about-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon {
  font-size: 90px;
  text-align: center;
  margin: 30px 0 20px 0;
}

@media (max-width: 767px) {

  .top h1 {
    font-size: 36px;
  }

  .top p {
    font-size: 12px;
  }

  .top {
    text-align: center;
  }

  .subtitle {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .prof-img {
    width:30%;
    margin: 30px auto;
  }

  .about-right {
    padding: 0 30px;
  }

  .skill i {
    font-size: 50px;
  }

  .skill h5 {
    font-size: 20px;
  }
}